<%= form_for(@price) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sell %><br>
    <%= f.text_field :sell %>
  </div>
  <div class="field">
    <%= f.label :high %><br>
    <%= f.text_field :high %>
  </div>
  <div class="field">
    <%= f.label :buy %><br>
    <%= f.text_field :buy %>
  </div>
  <div class="field">
    <%= f.label :change_rate %><br>
    <%= f.text_field :change_rate %>
  </div>
  <div class="field">
    <%= f.label :bid %><br>
    <%= f.text_field :bid %>
  </div>
  <div class="field">
    <%= f.label :wavg %><br>
    <%= f.text_field :wavg %>
  </div>
  <div class="field">
    <%= f.label :last_order %><br>
    <%= f.text_field :last_order %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :low %><br>
    <%= f.text_field :low %>
  </div>
  <div class="field">
    <%= f.label :ask %><br>
    <%= f.text_field :ask %>
  </div>
  <div class="field">
    <%= f.label :avg %><br>
    <%= f.text_field :avg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
