<div id="some_id"></div>

<div id="container"></div>

<script type="text/javascript">
  $(function () {
    $.getJSON('/prices.json', function (data) {
      // split the data set into ohlc and volume
      var ohlc = [],
        volume = [],
        dataLength = data.length,
        // set the allowed units for data grouping
        groupingUnits = [[
          'hour',                         // unit name
          [0.25]                             // allowed multiples
        ]],
        
        i = 0;
      
      for (i; i < dataLength; i += 1) {
        ohlc.push([
          data[i].created_at, // the date
          data[i].open, // open
          data[i].high, // high
          data[i].low, // low
          data[i].close // close
        ]);
        
        volume.push([
          data[i].created_at, // the date
          data[i].volume // the volume
        ]);
      }
      
      
      // create the chart
      $('#some_id').highcharts('StockChart', {
        
        rangeSelector: {
          selected: 1
        },
        
        title: {
          text: 'Koinim Fiyat Grafiği'
        },
        
        yAxis: [{
          labels: {
            align: 'right',
            x: -3
          },
          title: {
            text: 'OHLC'
          },
          height: '60%',
          lineWidth: 2
        }, {
          labels: {
            align: 'right',
            x: -3
          },
          title: {
            text: 'Volume'
          },
          top: '65%',
          height: '35%',
          offset: 0,
          lineWidth: 2
        }],
        
        series: [{
          type: 'candlestick',
          name: 'Koinim',
          data: ohlc,
          dataGrouping: {
            units: groupingUnits
          }
        }, {
          type: 'column',
          name: 'Volume',
          data: volume,
          yAxis: 1,
          dataGrouping: {
            units: groupingUnits
          }
        }]
      });
    });
  });
  
  $.getJSON('/prices/prices_macd', function (data) {
    
    var ohlc = [];
    var dataLength = data.length;
    // set the allowed units for data grouping
    
    var i = 0;
    
    for (i; i < dataLength; i += 1) {
      ohlc.push([
        data[i].created_at, // the date
        data[i].high // the volume
      ]);
    }
    
    $('#container').highcharts('StockChart', {
      
      title: {
        text: 'MACD of AAPL stock price'
      },
      
      subtitle: {
        text: 'From may 15, 2006 to May 10, 2013'
      },
      
      yAxis: [{
        title: {
          text: 'Price'
        },
        height: 200,
        plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
        }]
      }, {
        title: {
          text: 'MACD'
        },
        top: 300,
        height: 100,
        offset: 0,
        lineWidth: 2
      }],
      
      tooltip: {
        crosshairs: true,
        shared: true
      },
      
      rangeSelector: {
        selected: 1
      },
      
      legend: {
        enabled: true,
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      
      plotOptions: {
        series: {
          marker: {
            enabled: false,
          }
        }
      },
      
      series: [{
        name: 'AAPL Stock Price',
        type: 'line',
        id: 'primary',
        data: ohlc
      }, {
        name: 'MACD',
        linkedTo: 'primary',
        yAxis: 1,
        showInLegend: true,
        type: 'trendline',
        algorithm: 'MACD'
        
      }, {
        name: 'Signal line',
        linkedTo: 'primary',
        yAxis: 1,
        showInLegend: true,
        type: 'trendline',
        algorithm: 'signalLine'
        
      }, {
        name: 'Histogram',
        linkedTo: 'primary',
        yAxis: 1,
        showInLegend: true,
        type: 'histogram'
        
      }]
    });
  });
</script>
