<p id="notice"><%= notice %></p>

<p>
  <strong>Sell:</strong>
  <%= @price.sell %>
</p>

<p>
  <strong>High:</strong>
  <%= @price.high %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @price.buy %>
</p>

<p>
  <strong>Change rate:</strong>
  <%= @price.change_rate %>
</p>

<p>
  <strong>Bid:</strong>
  <%= @price.bid %>
</p>

<p>
  <strong>Wavg:</strong>
  <%= @price.wavg %>
</p>

<p>
  <strong>Last order:</strong>
  <%= @price.last_order %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @price.volume %>
</p>

<p>
  <strong>Low:</strong>
  <%= @price.low %>
</p>

<p>
  <strong>Ask:</strong>
  <%= @price.ask %>
</p>

<p>
  <strong>Avg:</strong>
  <%= @price.avg %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
